# <strong>Pandas:</strong> JSON & SQL

**Name:** Arsalan Ali<br>
**Email:** arslanchaos@gmail.com

### 01- JSON

In [1]:
import pandas as pd

In [3]:
df = pd.read_json("cuisine.json")
df

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [5]:
pd.read_json('https://v6.exchangerate-api.com/v6/89a62bb49878a068815e9781/latest/USD')

,result,documentation,terms_of_use,time_last_update_unix,time_last_update_utc,time_next_update_unix,time_next_update_utc,base_code,conversion_rates
AED,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1663545601,"Mon, 19 Sep 2022 00:00:01 +0000",1663632001,"Tue, 20 Sep 2022 00:00:01 +0000",USD,3.6725
AFN,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1663545601,"Mon, 19 Sep 2022 00:00:01 +0000",1663632001,"Tue, 20 Sep 2022 00:00:01 +0000",USD,88.1246
ALL,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1663545601,"Mon, 19 Sep 2022 00:00:01 +0000",1663632001,"Tue, 20 Sep 2022 00:00:01 +0000",USD,116.7277
AMD,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1663545601,"Mon, 19 Sep 2022 00:00:01 +0000",1663632001,"Tue, 20 Sep 2022 00:00:01 +0000",USD,414.5008
ANG,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1663545601,"Mon, 19 Sep 2022 00:00:01 +0000",1663632001,"Tue, 20 Sep 2022 00:00:01 +0000",USD,1.7900
...,...,...,...,...,...,...,...,...,...
XPF,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1663545601,"Mon, 19 Sep 2022 00:00:01 +0000",1663632001,"Tue, 20 Sep 2022 00:00:01 +0000",USD,119.3028
YER,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1663545601,"Mon, 19 Sep 2022 00:00:01 +0000",1663632001,"Tue, 20 Sep 2022 00:00:01 +0000",USD,250.2842
ZAR,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1663545601,"Mon, 19 Sep 2022 00:00:01 +0000",1663632001,"Tue, 20 Sep 2022 00:00:01 +0000",USD,17.6156
ZMW,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1663545601,"Mon, 19 Sep 2022 00:00:01 +0000",1663632001,"Tue, 20 Sep 2022 00:00:01 +0000",USD,15.5750
ZWL,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1663545601,"Mon, 19 Sep 2022 00:00:01 +0000",1663632001,"Tue, 20 Sep 2022 00:00:01 +0000",USD,604.0422

### 02- SQL

In [2]:
import mysql.connector as sql

In [3]:
conn = sql.connect(host='127.0.0.1',user='root',password='123arskas',database='world')

In [9]:
pd.read_sql_query("SELECT * FROM country;", conn)

c:\Users\Arsla\.conda\envs\experiments\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,JosÃƒÂ© Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,ShqipÃƒÂ«ria,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav KoÃ‚Å¡tunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW